<table id="input">
<tr>
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="34" size="3" maxlength="3"/> (even, between 20 and 80/120)</td>
</tr>
<tr>
<td>Pentagons isolated (IPR)</td>
<td><input type="checkbox" id="p"/></td>
</tr>
<tr>
<td>Filter by symmetries</td>
<td>
<select id="s" autocomplete="off">
<option value="0" selected>&ndash;none&ndash;</option>
<option value="1">C1</option>
<option value="1">C2</option>
<option value="2">Ci</option>
<option value="3">Cs</option>
<option value="4">C3</option>
<option value="5">D2</option>
<option value="6">S4</option>
<option value="7">C2v</option>
<option value="8">C2h</option>
<option value="9">D3</option>
<option value="10">S6</option>
<option value="11">C3v</option>
<option value="12">C3h</option>
<option value="13">D2h</option>
<option value="14">D2d</option>
<option value="15">D5</option>
<option value="16">D6</option>
<option value="17">D3h</option>
<option value="18">D3d</option>
<option value="19">T</option>
<option value="20">D5h</option>
<option value="21">D5d</option>
<option value="22">D6h</option>
<option value="23">D6d</option>
<option value="24">Td</option>
<option value="25">Th</option>
<option value="26">I</option>
<option value="27">Ih</option>
</select>
</td>
<tr>
<td>Graph format</td>
<td>
<select id="c" autocomplete="off">
  <option value="8">sparse6</option>
  <option value="1" selected>adjacency list (cw)</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1" selected>text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td><td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>

function run()
{
  enlarge_output();
  var sels = document.getElementById("s");
  var selc = document.getElementById("c");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
   	        + "&n=" + document.getElementById("n").value
            + "&p=" + document.getElementById("p").checked
            + "&s=" + sels.selectedIndex
            + "&c=" + selc.options[selc.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> tchange(); gchange(); </script>