<P><TABLE BORDER=1 CELLSPACING=2 CELLPADDING=2><TR><TH>
<TH ALIGN=CENTER>0</FONT><BR></TH>
<TH ALIGN=CENTER>1</FONT><BR></TH>
<TH ALIGN=CENTER>2</FONT><BR></TH>
<TH ALIGN=CENTER>3</FONT><BR></TH>
<TH ALIGN=CENTER>4</FONT><BR></TH>
<TH ALIGN=CENTER>5</FONT><BR></TH>
<TH ALIGN=CENTER>6</FONT><BR></TH>
<TH ALIGN=CENTER>7</FONT><BR></TH>
<TH ALIGN=CENTER>8</FONT><BR></TH>
<TH ALIGN=CENTER>9</FONT><BR></TH>
<TH ALIGN=CENTER>10</FONT><BR></TH>
<TH ALIGN=CENTER>11</FONT><BR></TH>
<TH ALIGN=CENTER>12</FONT><BR></TH>
<TH ALIGN=CENTER>13</FONT><BR></TH>
<TH ALIGN=CENTER>14</FONT><BR></TH>
<TH ALIGN=CENTER>15</FONT><BR></TH>
<TH ALIGN=CENTER>16</FONT><BR></TH>
<TH ALIGN=CENTER>17</FONT><BR></TH>
<TH ALIGN=CENTER>18</FONT><BR></TH>
<TH ALIGN=CENTER>19</FONT><BR></TH>
<TH ALIGN=CENTER>20</FONT><BR></TH>
<TH ALIGN=CENTER>21</FONT><BR></TH>
<TH ALIGN=CENTER>22</FONT><BR></TH>
<TH ALIGN=CENTER>23</FONT><BR></TH>
<TH ALIGN=CENTER>24</FONT><BR></TH>
<TH ALIGN=CENTER>25</FONT><BR></TH>
<TH ALIGN=CENTER>26</FONT><BR></TH>
<TH ALIGN=CENTER>27</FONT><BR></TH>
<TH ALIGN=CENTER>28</FONT><BR></TH>
<TH ALIGN=CENTER>29</FONT><BR></TH>
<TH ALIGN=CENTER>30</FONT><BR></TH>
<TH ALIGN=CENTER>31</FONT><BR></TH>

<TR><TD ALIGN=CENTER><B>1</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>2</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>3</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD>
<TR><TD ALIGN=CENTER><B>4</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>5</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>6</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>3</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>7</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>8</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>17</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>13</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>9</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>22</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>28</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD>
<TR><TD ALIGN=CENTER><B>10</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>38</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>44</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>14</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>11</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>46</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>84</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>52</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2</TD>

<TR><TD ALIGN=CENTER><B>12</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>54</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>152</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>110</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>14</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>13</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>66</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>236</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>264</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>60</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>14</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>73</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>357</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>500</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>214</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>15</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>15</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>98</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>546</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>898</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>546</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>82</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD>
<TR><TD ALIGN=CENTER><B>16</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>94</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>734</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1587</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1304</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>337</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>24</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>17</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>152</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1050</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2674</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2696</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1006</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>122</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>18</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>5</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>124</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1374</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4316</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5406</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2745</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>531</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>30</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>19</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>158</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1774</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6696</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10238</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6766</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1772</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>190</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>20</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>199</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2325</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>9995</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>18405</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>15227</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>5368</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>815</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>39</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>21</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>184</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2892</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>14988</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>31848</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>32144</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>14698</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2888</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>212</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>22</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>226</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>3650</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>20993</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>53602</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>64163</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>36877</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>9928</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1078</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>38</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>23</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>296</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4660</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>29458</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>86626</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>122502</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>86528</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>29748</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4606</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>286</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8</TD>

<TR><TD ALIGN=CENTER><B>24</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>202</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5191</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>40861</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>136378</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>225569</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>190357</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>81708</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>17063</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1509</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>32</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>25</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>406</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6938</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>55202</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>208988</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>399576</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>399560</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>208542</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>55752</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6880</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>324</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>26</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>328</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8012</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>74404</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>314185</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>685607</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>799042</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>503547</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>166341</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>27390</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1899</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>40</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>27</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>334</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>9576</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>97266</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>463084</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1143902</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1541160</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1144494</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>464038</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>97262</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>9512</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>380</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>28</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>8</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>418</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>11476</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>126779</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>669932</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1864232</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2862833</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2482205</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1206184</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>317395</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>42358</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2536</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>38</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>29</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>380</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>13000</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>162742</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>953474</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2966518</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>5158444</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5163764</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2963748</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>953582</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>163112</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>13560</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>460</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>30</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>486</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>15842</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>207089</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1333022</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4619193</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>9055093</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10333339</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6917423</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2670580</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>571435</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>63632</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>3071</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>58</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>31</FONT></B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>8</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>584</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>18810</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>261958</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1847144</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>7053018</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>15449530</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>20011118</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>15456044</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>7049276</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1845032</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>262214</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>18368</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>554</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8</TD></table><P><TABLE BORDER=1 CELLSPACING=2 CELLPADDING=2>
<TH ALIGN=CENTER> N = <TH ALIGN=CENTER>1</FONT><BR></TH>
<TH ALIGN=CENTER>2</FONT><BR></TH>
<TH ALIGN=CENTER>3</FONT><BR></TH>
<TH ALIGN=CENTER>4</FONT><BR></TH>
<TH ALIGN=CENTER>5</FONT><BR></TH>
<TH ALIGN=CENTER>6</FONT><BR></TH>
<TH ALIGN=CENTER>7</FONT><BR></TH>
<TH ALIGN=CENTER>8</FONT><BR></TH>
<TH ALIGN=CENTER>9</FONT><BR></TH>
<TH ALIGN=CENTER>10</FONT><BR></TH>
<TH ALIGN=CENTER>11</FONT><BR></TH>
<TH ALIGN=CENTER>12</FONT><BR></TH>
<TH ALIGN=CENTER>13</FONT><BR></TH>
<TH ALIGN=CENTER>14</FONT><BR></TH>
<TH ALIGN=CENTER>15</FONT><BR></TH>
<TH ALIGN=CENTER>16</FONT><BR></TH>
<TH ALIGN=CENTER>17</FONT><BR></TH>
<TH ALIGN=CENTER>18</FONT><BR></TH>
<TH ALIGN=CENTER>19</FONT><BR></TH>
<TH ALIGN=CENTER>20</FONT><BR></TH>
<TH ALIGN=CENTER>21</FONT><BR></TH>
<TH ALIGN=CENTER>22</FONT><BR></TH>
<TH ALIGN=CENTER>23</FONT><BR></TH>
<TH ALIGN=CENTER>24</FONT><BR></TH>
<TH ALIGN=CENTER>25</FONT><BR></TH>
<TH ALIGN=CENTER>26</FONT><BR></TH>
<TH ALIGN=CENTER>27</FONT><BR></TH>
<TH ALIGN=CENTER>28</FONT><BR></TH>
<TH ALIGN=CENTER>29</FONT><BR></TH>
<TH ALIGN=CENTER>30</FONT><BR></TH>
<TH ALIGN=CENTER>31</FONT><BR></TH>
<TR><TD>Irreducible_even:<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>34638722<TR><TD>Irreducible_odd:<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>34634944</table>