<TABLE BORDER=1 CELLSPACING=2 CELLPADDING="2"><TR><TH>
<TH ALIGN=CENTER>0<BR></TH>
<TH ALIGN=CENTER>1<BR></TH>
<TH ALIGN=CENTER>2<BR></TH>
<TH ALIGN=CENTER>3<BR></TH>
<TH ALIGN=CENTER>4<BR></TH>
<TH ALIGN=CENTER>5<BR></TH>
<TH ALIGN=CENTER>6<BR></TH>
<TH ALIGN=CENTER>7<BR></TH>
<TH ALIGN=CENTER>8<BR></TH>
<TH ALIGN=CENTER>9<BR></TH>
<TH ALIGN=CENTER>10<BR></TH>
<TH ALIGN=CENTER>11<BR></TH>
<TH ALIGN=CENTER>12<BR></TH>
<TH ALIGN=CENTER>13<BR></TH>
<TH ALIGN=CENTER>14<BR></TH>
<TH ALIGN=CENTER>15<BR></TH>
<TH ALIGN=CENTER>16<BR></TH>
<TH ALIGN=CENTER>17<BR></TH>
<TH ALIGN=CENTER>18<BR></TH>
<TH ALIGN=CENTER>19<BR></TH>
<TH ALIGN=CENTER>20<BR></TH>
<TH ALIGN=CENTER>21<BR></TH>
<TH ALIGN=CENTER>22<BR></TH>
<TH ALIGN=CENTER>23<BR></TH>
<TH ALIGN=CENTER>24<BR></TH>
<TH ALIGN=CENTER>25<BR></TH>
<TH ALIGN=CENTER>26<BR></TH>
<TH ALIGN=CENTER>27<BR></TH>
<TH ALIGN=CENTER>28<BR></TH>
<TH ALIGN=CENTER>29<BR></TH>
<TH ALIGN=CENTER>30<BR></TH>
<TH ALIGN=CENTER>31<BR></TH>

<TR><TD ALIGN=CENTER><B>1</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>2</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>3</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD>
<TR><TD ALIGN=CENTER><B>4</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>5</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>6</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>7</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>8</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>12</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>9</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>16</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>28</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD>
<TR><TD ALIGN=CENTER><B>10</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>20</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>28</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>10</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>11</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>44</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>80</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>50</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>12</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>18</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>86</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>36</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>13</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>66</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>236</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>264</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>60</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>14</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>42</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>226</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>338</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>140</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>15</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>82</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>470</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>720</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>450</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>66</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD>
<TR><TD ALIGN=CENTER><B>16</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>52</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>368</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>812</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>648</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>156</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>12</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>17</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>152</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1050</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2674</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2696</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1006</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>122</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>18</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>72</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>718</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2296</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2910</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1470</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>284</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>24</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>19</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>158</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1774</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6696</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>10238</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6766</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1772</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>190</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>20</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>100</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1104</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4522</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8436</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>7000</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2460</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>354</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>22</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>21</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>164</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2490</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>12628</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>27080</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>27278</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>12422</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2442</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>166</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>22</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>122</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2260</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>13218</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>33886</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>40362</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>23170</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6288</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>698</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>26</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>23</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>292</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4552</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>28820</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>84774</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>119786</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>84800</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>29140</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4504</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>280</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8</TD>

<TR><TD ALIGN=CENTER><B>24</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>94</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2110</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>16346</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>53832</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>89104</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>75210</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>32424</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6720</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>628</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>12</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>25</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>396</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>6702</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>53386</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>201742</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>385742</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>385822</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>201424</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>53806</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6662</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>310</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>
<TR><TD ALIGN=CENTER><B>26</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>214</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5344</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>49470</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>209464</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>457532</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>532238</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>335042</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>110940</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>18380</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1252</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>24</TD><TD ALIGN=RIGHT>0</TD>

<TR><TD ALIGN=CENTER><B>27</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>286</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8112</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>82292</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>391440</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>967040</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1302862</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>967606</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>392360</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>82174</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8002</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>322</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>28</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>6</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>188</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5816</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>62804</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>331652</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>920970</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1417026</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1228258</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>596122</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>156716</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>20834</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1222</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>18</TD><TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><B>29</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>2</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>378</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>12910</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>161768</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>948030</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2949628</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>5129024</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5134762</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2947238</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>947916</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>162204</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>13486</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>458</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>4</TD>

<TR><TD ALIGN=CENTER><B>30</B><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>208</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>7988</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>102716</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>665442</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>2300670</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>4508866</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>5142250</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>3444108</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1329736</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>285058</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>31486</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>1444</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>28</TD>
<TD ALIGN=RIGHT>0</TD>
<TR><TD ALIGN=CENTER><FONT COLOR=0000ff><B>31</B></FONT><TD
ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>8</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>584</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>18810</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>261958</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1847144</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>7053018</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>15449530</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>20011118</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>15456044</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>7049276</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>1845032</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>262214</TD><TD ALIGN=RIGHT>0</TD>
<TD ALIGN=RIGHT>18368</TD><TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>554</TD>
<TD ALIGN=RIGHT>0</TD><TD ALIGN=RIGHT>8</TD></table>
<BR><BR>
<TABLE BORDER="1" CELLSPACING="2" CELLPADDING="2">
<TH ALIGN=CENTER> N = </TH>
<TH ALIGN=CENTER>1<BR></TH>
<TH ALIGN=CENTER>2<BR></TH>
<TH ALIGN=CENTER>3<BR></TH>
<TH ALIGN=CENTER>4<BR></TH>
<TH ALIGN=CENTER>5<BR></TH>
<TH ALIGN=CENTER>6<BR></TH>
<TH ALIGN=CENTER>7<BR></TH>
<TH ALIGN=CENTER>8<BR></TH>
<TH ALIGN=CENTER>9<BR></TH>
<TH ALIGN=CENTER>10<BR></TH>
<TH ALIGN=CENTER>11<BR></TH>
<TH ALIGN=CENTER>12<BR></TH>
<TH ALIGN=CENTER>13<BR></TH>
<TH ALIGN=CENTER>14<BR></TH>
<TH ALIGN=CENTER>15<BR></TH>
<TH ALIGN=CENTER>16<BR></TH>
<TH ALIGN=CENTER>17<BR></TH>
<TH ALIGN=CENTER>18<BR></TH>
<TH ALIGN=CENTER>19<BR></TH>
<TH ALIGN=CENTER>20<BR></TH>
<TH ALIGN=CENTER>21<BR></TH>
<TH ALIGN=CENTER>22<BR></TH>
<TH ALIGN=CENTER>23<BR></TH>
<TH ALIGN=CENTER>24<BR></TH>
<TH ALIGN=CENTER>25<BR></TH>
<TH ALIGN=CENTER>26<BR></TH>
<TH ALIGN=CENTER>27<BR></TH>
<TH ALIGN=CENTER>28<BR></TH>
<TH ALIGN=CENTER>29<BR></TH>
<TH ALIGN=CENTER>30<BR></TH>
<TH ALIGN=CENTER>31<BR></TH>
<TR><TD>Primitive_even:<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>34638722<TR><TD>Primitive_odd:<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD
>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>0<TD>34634944</table>
