<head>
<meta charset="UTF-8">
<meta name="description" content="Combinatorial Object Server">
<meta name="keywords" content="acyclic orientation, algorithm, bitstring, bracelet, chord diagram, combination, Kneser graph, combinatorics, de Bruijn sequence, elimination tree, flip-swap language, fullgen, FXT library, generation, Gray code, lattice path, Lyndon word, meander, nauty, necklace, partition, pattern-avoidance, permutation, plantri, rectangulation, Schrijver graph, semigroup, stamp folding, symmetric chain decomposition, tree">
<meta name="author" content="Torsten M&uuml;tze, Joe Sawada, Aaron Williams">
<meta name="google-site-verification" content="mhDYxD3jbySVZJmyGhiA8rcrsf8G4C5JVmuxCz7g4iA">
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [['$$','$$'], ["\\[","\\]"]]}});</script>
<script type="text/x-mathjax-config">MathJax.Hub.Queue(function () { /* after Mathjax rendering completed, trigger click on object info section to unfold */ document.getElementsByClassName("collapse_heading")[0].click()});
</script>
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DBXE0RDNQ2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-DBXE0RDNQ2');
</script>
</head>
