<div id="logo">
<svg id="logo" width="90" height="90">
<style> .logo { font: bold 30px sans-serif; } </style>
<!--<rect x="0" y="0" width="90" height="90" fill="red"/>-->
<circle cx="45" cy="45" r="36" stroke="transparent" fill="white"/>
<text x="45" y="50" class="logo" text-anchor="middle">COS</text>
<text x="45" y="70" class="logo" text-anchor="middle">++</text>
</svg>
</div>