A <span class="def">necklace</span> is an equivalence class of $k$-ary strings under rotation. We take the lexicographically smallest such string as the representative of each equivalence class and use this in the output of the program. 
A <span class="def">Lyndon word</span> is an aperiodic necklace representative.
<span class="def">Unlabelled necklaces</span> are an equivalence classes of necklaces under permutation of alphabet symbols. Note that by permuting the alphabet symbols of a necklace and then rotating the string into its lexicographically smallest position, the result is a necklace representative.
Among all permutations of alphabet symbols that resulting necklace that is lexicographically smallest is used as the representative of an unlabelled necklace.
For example, here is an equivalence class of unlabelled ternary necklaces: $\{011222, 022111, 001112, 002221, 000122, 000211\}$. The lexicographically smallest of these is $000122$ and so it is chosen as the representative. 
For information on generating necklaces and Lyndon words and their unlabeled counterparts in constant amortized time see [CRS+00].

<p>
In many applications not all necklaces are required, but only those of <span class="def">fixed density</span>, meaning that the number of non-zero entries is fixed.
In the more general case, one may want a list of necklaces with <span class="def">fixed content</span> where the number of occurrences for every character is fixed.
For information on generating necklaces with fixed content and fixed density in constant amortized time see [Saw03] and [RS99].
Necklaces that do not contain a specified sequence as a substring are known as necklaces with <span class="def">forbidden substrings</span>.
For example, when considering all necklaces with $n=4$ and $k=2$ with the restriction that there are no $00$ substrings we get the set: $\{0101, 0111 ,1111\}$.
For more information on generating necklaces with forbidden substrings see [RS00].

<p>
A <span class="def">bracelet</span> is a necklace that can be turned over.
For information on generating bracelets in constant amortized time see [Saw01].
For bracelets with fixed content see [KSAH13].
The number of nonisomorphic unit interval graphs is the same as the number of binary bracelets of length $2t-1$ with content $(t,t-1)$.

A <span class="def">charm bracelet</span> is a generalization of a bracelet considering the action of the group of affine transformations $j \mapsto a+dj\pmod n$ on the indices.
For more information see [&Dstrok;KRS15].

<p>
A <span class="def">chord diagram</span> is a set of $2n$ points on an oriented circle (counterclockwise) joined pairwise by $n$ chords.  
For information on efficiently generating all chord diagrams with $n$ chords see [Saw02].
We encode such a diagram by walking around the circle, and for each point we record the number of forward steps (in counterclockwise direction) to reach its partner along the same chord.
For instance, for $n=3$ the diagram with three chords on the convex hull is encoded by 151515.

<p>
<span class="def">Lyndon brackets</span> correspond to the basis of the $n$th homogeneous component of the free Lie algebra. 
For information on generating such a basis in $O(n)$ time per element see [SR03].
