Links to the binary objects in the Online Encyclopedia of Integer Sequences: 
<ul class="enum">
  <li>Necklaces: <a href="http://oeis.org/A000031">OEIS A000031</a>  </li>
  <li>Lyndon words: <a href="http://oeis.org/A001037">OEIS A001037</a></li>
  <li>Bracelets: <a href="http://oeis.org/A000029">OEIS A000029</a></li>
  <li>Lyndon bracelets: <a href="http://oeis.org/A001371">OEIS A001371</a></li>
  <li>Unlabeled necklaces: <a href="http://oeis.org/A000013">OEIS A000013</a></li>
  <li>Unlabeled Lyndon words: <a href="http://oeis.org/A000048">OEIS A000048</a></li>
  <li>Charm bracelets: <a href="http://oeis.org/A002729">OEIS A002729</a></li>
  <li>Chord diagrams: <a href="http://oeis.org/A007769">OEIS A007769</a></li>
  <li>Necklaces with forbidden $00$: <a href="http://oeis.org/A000358">OEIS A000358</a></li>
</ul>

Enumeration formulae for $k$-ary necklaces and $k$-ary Lyndon words: 
\[N_k(n) = \frac{1}{n} \sum_{d\vert n} \varphi(d)k^{n/d}, \qquad L_k(n) = \frac{1}{n} \sum_{d\vert n} \mu(d)k^{n/d}.\]

Enumeration formula for $k$-ary bracelets:
\[
B_k(n) =  \left\{ \begin{array}{ll} 
\frac{1}{2} N_k(n) + \frac{1}{4}(k+1)k^{n/2} & \text{ if $n$ is even,} \\
\frac{1}{2} N_k(n) + \frac{1}{2}k^{(n+1)/2}  & \text{ if $n$ is odd.}
\end{array} \right.
\]
The number of nonisomorphic unit interval graphs is the same as the number of bracelets with $n$ black and $n-1$ white beads.

Enumeration formula for binary unlabeled necklaces:
\[U_2(n) = N_2(n) - \frac{1}{2n} \sum_{\text{odd } d\vert n} \varphi(d)2^{n/d}.\] 

Enumeration formula for chord diagrams:
\[
C(n) =  \left\{ \begin{array}{ll} 
\frac{1}{2n} \displaystyle{\sum_{pq=2n} \varphi(p)p^{q/2}(q-1)!!} & \text{ if $p$ is odd,} \\
\frac{1}{2n} \displaystyle{\sum_{pq=2n} \varphi(p)\sum_{j=0}^{\lfloor q/2 \rfloor}{q \choose 2j}(2j-1)!!} & \text{ if $p$ is even.} 
\end{array} \right.
\] 

Enumeration formula for $k$-ary necklaces with fixed content:
\[N_k(n_1,n_2,\ldots, n_k) = \frac{1}{n} \sum_{j \vert \gcd(n_1,n_2, \ldots, n_k)} \varphi(j)\frac{(n/j)!}{(n_1/j)!(n_2/j)!\cdots (n_k/j)!}.\]
When $k=2$, the above formula can be applied and simplified for the case of binary fixed-density necklaces.
