<table id="input">

<tr>
<td>Object type</td>
<td>
<select id="t" autocomplete="off" onchange="achange()">
<optgroup label="flip-swap language (with respect to 1)">
<option value="1" selected>bitstrings</option>
<option value="2">necklaces</option>
<option value="3">Lyndon words</option>
<option value="4">prenecklaces</option>
<option value="5">pseudo-necklaces</option>
<option value="6">bitstrings &lt; their reversal</option>
<option value="7">bitstrings &le; their reversal (neckties)</option>
<option value="8">bitstrings with weight &le; k</option>
<option value="9">bitstrings with forbidden 10^k</option>
<option value="10">bitstrings with forbidden prefix &beta;=1&beta;'</option>
<option value="11">bitstrings &lt; their complemented reversal </option>
<option value="12">bitstrings &le; their complemented reversal</option>
<option value="13">bitstrings &le; &beta;</option>
<option value="14">bitstrings with &le; k inversions w.r.t. 0*1* </option>
<option value="15">bitstrings with &le; k transpositions w.r.t. 0*1*</option>
<option value="16">0-prefix normal words</option>
<option value="17">left factors of k-ary Dyck words</option>
<option value="18">feasible solutions to 0-1 knapsack problems</option>
<!--
<option value="19">integer partitions</option>
<option value="20">unlabeled necklaces</option>
<option value="21">co-necklaces</option>
<option value="22">Fibonacci words </option>
<option value="23">Lucas words</option>
<option value="24">bitstrings with forbidden &beta;=1&beta;'</option>
-->
</optgroup>
<optgroup label="flip-swap language (with respect to 0)">
<option value="41">bitstrings</option>
<option value="42">necklaces</option>
<option value="43">aperiodic necklaces</option>
<option value="44">prenecklaces</option>
<option value="45">pseudo-necklaces</option>
<option value="46">bitstrings &gt; their reversal</option>
<option value="47">bitstrings &ge; their reversal</option>
<option value="48">bitstrings with weight &ge; k</option>
<option value="49">bitstrings with forbidden 01^k</option>
<option value="50">bitstrings with forbidden prefix &beta;=0&beta;'</option>
<option value="51">bitstrings &gt; their complemented reversal</option>
<option value="52">bitstrings &ge; their complemented reversal</option>
<option value="53">bitstrings &ge; &beta;</option>
<option value="54">bitstrings with &le; k inversions w.r.t. 1*0*</option>
<option value="55">bitstrings with &le; k transpositions w.r.t. 1*0*</option>
<option value="56">1-prefix normal words</option>
</optgroup>
</select>
</td>
</tr>

<tr>
<td>Length $n$ of bitstrings</td>
<td><input type="text" id="n" value="6" size="2" maxlength="2"/> (max. 20)</td>
</tr>

<tr id="intk" style="display: none">
<td>Integer $k$</td>
<td><input type="text" id="k" value="3" size="2" maxlength="2"/> (between 0 and $n$)</td>
</tr>

<tr id="beta" style="display: none">
<td>Bitstring $\beta$</td>
<td><input type="text" id="b" value="110001" size="20" maxlength="20"/> </td>
</tr>

<tr id="cap" style="display: none">
<td>Knapsack capacity</td>
<td><input type="text" id="c" value="10" size="3" maxlength="3"/> </td>
</tr>

<tr id="weights" style="display: none">
<td>Weights of $n$ items</td>
<td><input type="text" id="w" value="6 5 4 2 2 1" size="20" maxlength="60"/> (decreasingly)
</td>
</tr>

<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
<td></td>
</tr>

<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function achange()
{
  var selt = document.getElementById("t");
  var trintk = document.getElementById("intk");
  var trbeta = document.getElementById("beta");
  var trcap = document.getElementById("cap");
  var trweights = document.getElementById("weights");
  var trcontent = document.getElementById("content");
  var trforbid = document.getElementById("forbidden");
  var object = selt.options[selt.selectedIndex].value

  if (object == 8 || object == 9 || object == 14 || object == 15 || object == 17 || object == 48 || object == 49 || object == 54 || object == 55 || object == 57) {
    trintk.style.display = "";
  } else {
    trintk.style.display = "none";
  }

  if (object == 10 || object == 13 || object == 50 || object == 53) {
    trbeta.style.display = "";
  } else {
    trbeta.style.display = "none";
  }
  
  if (object == 18) {
    trcap.style.display = "";
    trweights.style.display = "";
  } else {
    trcap.style.display = "none";
    trweights.style.display = "none";
  }
}
  
function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&t=" + selt.options[selt.selectedIndex].value
            + "&n=" + document.getElementById("n").value
            + "&k=" + document.getElementById("k").value
            + "&b=" + document.getElementById("b").value
            + "&c=" + document.getElementById("c").value
            + "&w=" + document.getElementById("w").value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}

</script>