<ul id="refs">
<li>[CHM+23] J. Cardinal, H. P. Hoang, A. Merino, O. Mi&ccaron;ka, and T. M&uuml;tze. Combinatorial generation via permutation languages. V. Acyclic orientations. SIAM J. Discrete Math., 37(3):1509–1547, 2023.</li>
<li>[SSW93] C. D. Savage, M. B. Squire, and D. B. West. Gray code results for acyclic orientations. In Proceedings of the Twenty-fourth Southeastern International Conference on Combinatorics, Graph Theory, and Computing (Boca Raton, FL, 1993), volume 96, pages 185–204, 1993.</li>
</ul>