<table id="input">
<tr>
<td>Input (hyper)graph</td>
<td><textarea id="g" rows="5" cols="40" maxlength="2000"></textarea></td>
</tr>
<tr>
<td>Predefined inputs</td>
<td>
<select id="gs" autocomplete="off" onchange="gchange()">
  <option value="0">&ndash;none&ndash;</option>
  <option value="1" selected>example G</option>
  <option value="2">complete graph K5</option>
  <option value="3">path P5</option>
  <option value="4">building set of path P5</option>
  <option value="5">building set of star S5</option>
  <option value="6">Stanley-Pitman 5</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1" selected>text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function gchange()
{
  var selg = document.getElementById("gs");
  var inpg = document.getElementById("g");
  switch(selg.options[selg.selectedIndex].value) {
    case "0": inpg.value = ""; break;
    case "1": inpg.value = "b,a; a,d; a,c; c,b; c,d"; break;
    case "2": inpg.value = "1,2; 1,3; 1,4; 1,5; 2,3; 2,4; 2,5; 3,4; 3,5; 4,5"; break;
    case "3": inpg.value = "1,2; 2,3; 3,4; 4,5"; break;
    case "4": inpg.value = "1,2; 2,3; 3,4; 4,5; 1,2,3; 2,3,4; 3,4,5; 1,2,3,4; 2,3,4,5; 1,2,3,4,5"; break;
    case "5": inpg.value = "c,2; c,3; c,4; c,5; c,2,3; c,2,4; c,2,5; c,3,4; c,3,5; c,4,5; c,2,3,4; c,2,3,5; c,2,4,5; c,3,4,5; c,2,3,4,5"; break;
    case "6": inpg.value = "1,2; 1,2,3; 1,2,3,4; 1,2,3,4,5"; break;
  }
}

function run()
{
  enlarge_output();
  var selfmt = document.getElementById("fmt");  
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&g=" + encodeURIComponent(document.getElementById("g").value)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> gchange(); </script>
