A <span class="def">$k$-ary tree</span> is an ordered rooted tree in which every child has exactly $k$ subtrees (some of them possibly empty).
There is a natural bijection between $k$-ary trees with $n$ vertices and <span class="def">dissections</span> of a convex $N$-gon into $(k+1)$-gons, where $N=(k-1)n+2$, namely the trees arise as geometric duals of the dissections; see the figure below for an example with $k=3$.
Probably most important for applications are binary trees ($k=2$), which are in bijection with triangulations.

<p>
<svg width="720" height="350">
<style> .l1 { stroke:black; stroke-width:1; } .l2 { stroke:black; stroke-width:3; } .l3 { stroke:red; stroke-width:2; } .c1 { stroke:black; fill:white; } .c2 { stroke:black; fill:black; } .crr { stroke:red; fill:red; } .crw { stroke:red; fill:white; } .tr { fill:red; } </style>
<!--<rect x="0" y="0" width="720" height="350" fill="green"/>-->
<!-- the quadrangulation -->
<line class='l1' x1='151' y1='11' x2='106' y2='24'/>
<line class='l1' x1='106' y1='24' x2='66' y2='50' />
<line class='l1' x1='66' y1='50' x2='36' y2='85' />
<line class='l1' x1='36' y1='85' x2='16' y2='128' />
<line class='l1' x1='16' y1='128' x2='10' y2='175' />
<line class='l1' x1='10' y1='175' x2='16' y2='221' />
<line class='l1' x1='16' y1='221' x2='36' y2='264' />
<line class='l1' x1='36' y1='264' x2='66' y2='299' />
<line class='l1' x1='66' y1='299' x2='106' y2='325' />
<line class='l1' x1='106' y1='325' x2='151' y2='338' />
<line class='l1' x1='151' y1='338' x2='198' y2='338' />
<line class='l1' x1='198' y1='338' x2='243' y2='325' />
<line class='l1' x1='243' y1='325' x2='283' y2='299' />
<line class='l1' x1='283' y1='299' x2='313' y2='264' />
<line class='l1' x1='313' y1='264' x2='333' y2='221' />
<line class='l1' x1='333' y1='221' x2='340' y2='175' />
<line class='l1' x1='340' y1='175' x2='333' y2='128' />
<line class='l1' x1='333' y1='128' x2='313' y2='85' />
<line class='l1' x1='313' y1='85' x2='283' y2='50' />
<line class='l1' x1='283' y1='50' x2='243' y2='24' />
<line class='l1' x1='243' y1='24' x2='198' y2='11' />
<line class='l1' x1='198' y1='11' x2='151' y2='11' />
<line class='l1' x1='151' y1='11' x2='36' y2='85' />
<line class='l1' x1='36' y1='85' x2='313' y2='264' />
<line class='l1' x1='36' y1='85' x2='243' y2='325' />
<line class='l1' x1='36' y1='85' x2='16' y2='221' />
<line class='l1' x1='16' y1='221' x2='106' y2='325' />
<line class='l1' x1='106' y1='325' x2='243' y2='325' />
<line class='l1' x1='313' y1='264' x2='333' y2='128' />
<line class='l1' x1='313' y1='264' x2='198' y2='11' />
<line class='l1' x1='333' y1='128' x2='243' y2='24' />
<circle class='c1' cx='340' cy='175' r='3'/>
<circle class='c1' cx='333' cy='221' r='3'/>
<circle class='c1' cx='313' cy='264' r='3'/>
<circle class='c1' cx='283' cy='299' r='3'/>
<circle class='c1' cx='243' cy='325' r='3'/>
<circle class='c1' cx='198' cy='338' r='3'/>
<circle class='c1' cx='151' cy='338' r='3'/>
<circle class='c1' cx='106' cy='325' r='3'/>
<circle class='c1' cx='66' cy='299' r='3'/>
<circle class='c1' cx='36' cy='264' r='3'/>
<circle class='c1' cx='16' cy='221' r='3'/>
<circle class='c1' cx='10' cy='175' r='3'/>
<circle class='c1' cx='16' cy='128' r='3'/>
<circle class='c1' cx='36' cy='85' r='3'/>
<circle class='c1' cx='66' cy='50' r='3'/>
<circle class='c1' cx='106' cy='24' r='3'/>
<circle class='c1' cx='151' cy='11' r='3'/>
<circle class='c1' cx='198' cy='11' r='3'/>
<circle class='c1' cx='243' cy='24' r='3'/>
<circle class='c1' cx='283' cy='50' r='3'/>
<circle class='c1' cx='313' cy='85' r='3'/>
<circle class='c1' cx='333' cy='128' r='3'/>
<!-- the ternary tree inside the quadrangulation -->
<line class='l2' x1='174' y1='50' x2='90' y2='42' />
<line class='l2' x1='174' y1='50' x2='178' y2='210' />
<line class='l2' x1='178' y1='210' x2='106' y2='221' />
<line class='l2' x1='106' y1='221' x2='19' y2='152' />
<line class='l2' x1='106' y1='221' x2='55' y2='276' />
<line class='l2' x1='106' y1='221' x2='175' y2='332' />
<line class='l2' x1='174' y1='50' x2='285' y2='125' />
<line class='l2' x1='285' y1='125' x2='330' y2='196' />
<line class='l2' x1='285' y1='125' x2='294' y2='73' />
<circle class='crr' cx='174' cy='50' r='4'/>
<circle class='c2' cx='90' cy='42' r='4'/>
<circle class='c2' cx='19' cy='152' r='4'/>
<circle class='c2' cx='55' cy='276' r='4'/>
<circle class='c2' cx='175' cy='332' r='4'/>
<circle class='c2' cx='106' cy='221' r='4'/>
<circle class='c2' cx='178' cy='210' r='4'/>
<circle class='c2' cx='285' cy='125' r='4'/>
<circle class='c2' cx='330' cy='196' r='4'/>
<circle class='c2' cx='294' cy='73' r='4'/>
<!-- red arrow -->
<line class='l3' x1='174' y1='5' x2='174' y2='30'/>
<line class='l3' x1='174' y1='30' x2='169' y2='25'/>
<line class='l3' x1='174' y1='30' x2='179' y2='25'/>
<!-- the ternary tree next to the quadrangulation -->
<line class='l2' x1='470' y1='20' x2='510' y2='60' />
<line class='l2' x1='470' y1='20' x2='470' y2='60' />
<line class='l2' x1='470' y1='20' x2='430' y2='60' />
<line class='l2' x1='470' y1='60' x2='430' y2='100' />
<line class='l2' x1='510' y1='60' x2='470' y2='100' />
<line class='l2' x1='510' y1='60' x2='510' y2='100' />
<line class='l2' x1='430' y1='100' x2='390' y2='140' />
<line class='l2' x1='430' y1='100' x2='430' y2='140' />
<line class='l2' x1='430' y1='100' x2='470' y2='140' />
<circle class='crr' cx='470' cy='20' r='4'/>
<circle class='c2' cx='510' cy='60' r='4'/>
<circle class='c2' cx='470' cy='60' r='4'/>
<circle class='c2' cx='430' cy='60' r='4'/>
<circle class='c2' cx='510' cy='100' r='4'/>
<circle class='c2' cx='470' cy='100' r='4'/>
<circle class='c2' cx='430' cy='100' r='4'/>
<circle class='c2' cx='470' cy='140' r='4'/>
<circle class='c2' cx='430' cy='140' r='4'/>
<circle class='c2' cx='390' cy='140' r='4'/>
<!-- the ternary tree with vertex labels -->
<line class='l2' x1='640' y1='20' x2='680' y2='60' />
<line class='l2' x1='640' y1='20' x2='640' y2='60' />
<line class='l2' x1='640' y1='20' x2='600' y2='60' />
<line class='l2' x1='640' y1='60' x2='600' y2='100' />
<line class='l2' x1='680' y1='60' x2='640' y2='100' />
<line class='l2' x1='680' y1='60' x2='680' y2='100' />
<line class='l2' x1='600' y1='100' x2='560' y2='140' />
<line class='l2' x1='600' y1='100' x2='600' y2='140' />
<line class='l2' x1='600' y1='100' x2='640' y2='140' />
<circle class='crw' cx='640' cy='20' r='12'/>
<circle class='c1' cx='600' cy='60' r='12'/>
<circle class='c1' cx='640' cy='60' r='12'/>
<circle class='c1' cx='680' cy='60' r='12'/>
<circle class='c1' cx='600' cy='100' r='12'/>
<circle class='c1' cx='640' cy='100' r='12'/>
<circle class='c1' cx='680' cy='100' r='12'/>
<circle class='c1' cx='560' cy='140' r='12'/>
<circle class='c1' cx='600' cy='140' r='12'/>
<circle class='c1' cx='640' cy='140' r='12'/>
<text class='tr' x='640' y='20' alignment-baseline='middle' text-anchor='middle'>2</text>
<text x='600' y='60' alignment-baseline='middle' text-anchor='middle'>1</text>
<text x='640' y='60' alignment-baseline='middle' text-anchor='middle'>7</text>
<text x='680' y='60' alignment-baseline='middle' text-anchor='middle'>9</text>
<text x='600' y='100' alignment-baseline='middle' text-anchor='middle'>4</text>
<text x='640' y='100' alignment-baseline='middle' text-anchor='middle'>8</text>
<text x='680' y='100' alignment-baseline='middle' text-anchor='middle'>10</text>
<text x='560' y='140' alignment-baseline='middle' text-anchor='middle'>3</text>
<text x='600' y='140' alignment-baseline='middle' text-anchor='middle'>5</text>
<text x='640' y='140' alignment-baseline='middle' text-anchor='middle'>6</text>
<!-- labels -->
<text x='390' y='200'>n=10, k=3, N=(k-1)n+2=22</text>
</svg>

<p>
An algorithm for generating all binary trees by tree rotations was proposed by Lucas, Roelants van Baronaigien, and Ruskey [LRvBR93]. Williams [Wil13] discovered an amazingly simple description of this method in terms of a greedy algorithm: Start with the all-right tree, and then repeatedly perform a tree rotation involving the largest possible vertex that creates a previously unvisited tree.
A generalization of this method from binary trees $k=2$ to larger values of $k$ was proposed in the paper [AMV24], and this is the algorithm running on this website.
The existence of a tree rotation Gray code for $k\geq 3$ was already proved earlier by Huemer, Hurtado and Pfeifle [HHP08].
Interestingly, under the bijection discussed above, tree rotations translate to flips in dissections, where each <span class="def">flip operation</span> removes an edge between two $(k+1)$-gons, creating a $2k$-gon, and replaces it by another diagonal in that $2k$-gon.

<p>
The graphical output for our algorithm shows the dissection corresponding to each tree (any two consecutive dissections differing in a flip), and the textual output is obtained as follows:
The vertices of the tree are labeled with $1,\ldots,n$ according to the search tree property, i.e., for any vertex $i$, all vertices in the leftmost subtree are smaller than $i$, and all vertices in the remaining $k-1$ subtrees are larger than $i$, and they appear increasingly from left to right in the subtrees.
The tree is then traversed in a preorder traversal, i.e., we first record the root of the tree, followed by recursively recording vertices in the subtrees of the root, where subtrees are processed from left to right.
An empty subtree is printed as 0.
For example, the ternary tree from the figure would be labeled as above and printed as 2 1 0 0 0 7 4 3 0 0 0 5 0 0 0 6 0 0 0 0 0 9 8 0 0 0 10 0 0 0 0.

<p>
A variation on this theme was proposed by Sagan [Sag08].
He considers triangulations of a convex $N$-gon in which the points are colored red and blue alternatingly, with the additional requirement that every triangle has vertices of both colors.
As monochromatic triangles are forbidden, such a triangulation is called <span class="def">colorful</span>.
It was proved in [AMV24] that for $N\geq 8$ all colorful triangulations can be listed in Gray code order, i.e., any two consecutive colorful triangulations differ in a flip, and the algorithm described in that paper runs on the website.
In the textual output of the algorithm, each colorful triangulation is encoded as pair of a tree and a bitstring, separated by |.
For even $N$, the tree is a ternary tree, and it is the dual graph of the quadrangulation obtained by removing all monochromatic inner edges from the triangulation (leaving only the colorful inner edges), and the bitstring describes a vertex-coloring of the tree, where colors 0 and 1 represent a (red,red) or (blue,blue) edge, respectively, inside the quadrangle corresponding to the vertex of the tree.
For example, the colorful triangulation shown below would be printed as 2 1 0 0 0 7 4 3 0 0 0 5 0 0 0 6 0 0 0 0 0 9 8 0 0 0 10 0 0 0 0 | 0000011001, where the first part represents the ternary tree corresponding to the quadrangulation above, and the bitstring encodes that vertices 6,7 and 10 are blue, and all others red (three (blue,blue)-edges in the corresponding quadrangles, and seven (red,red)-edges in the other quadrangles).

<p>
<svg width="530" height="350">
<style> .l4 { stroke:red; stroke-width:1; } .l5 { stroke:blue; stroke-width:1; } .cbr { stroke:black; fill:red; } .cbb { stroke:black; fill:blue; } .cbw { stroke:blue; fill:white; } .tb { fill:blue; } </style>
<!--<rect x="0" y="0" width="530" height="350" fill="green"/>-->
<!-- the colorful triangulation -->
<line class='l1' x1='151' y1='11' x2='106' y2='24'/>
<line class='l1' x1='106' y1='24' x2='66' y2='50' />
<line class='l1' x1='66' y1='50' x2='36' y2='85' />
<line class='l1' x1='36' y1='85' x2='16' y2='128' />
<line class='l1' x1='16' y1='128' x2='10' y2='175' />
<line class='l1' x1='10' y1='175' x2='16' y2='221' />
<line class='l1' x1='16' y1='221' x2='36' y2='264' />
<line class='l1' x1='36' y1='264' x2='66' y2='299' />
<line class='l1' x1='66' y1='299' x2='106' y2='325' />
<line class='l1' x1='106' y1='325' x2='151' y2='338' />
<line class='l1' x1='151' y1='338' x2='198' y2='338' />
<line class='l1' x1='198' y1='338' x2='243' y2='325' />
<line class='l1' x1='243' y1='325' x2='283' y2='299' />
<line class='l1' x1='283' y1='299' x2='313' y2='264' />
<line class='l1' x1='313' y1='264' x2='333' y2='221' />
<line class='l1' x1='333' y1='221' x2='340' y2='175' />
<line class='l1' x1='340' y1='175' x2='333' y2='128' />
<line class='l1' x1='333' y1='128' x2='313' y2='85' />
<line class='l1' x1='313' y1='85' x2='283' y2='50' />
<line class='l1' x1='283' y1='50' x2='243' y2='24' />
<line class='l1' x1='243' y1='24' x2='198' y2='11' />
<line class='l1' x1='198' y1='11' x2='151' y2='11' />
<line class='l1' x1='151' y1='11' x2='36' y2='85' />
<line class='l1' x1='36' y1='85' x2='313' y2='264' />
<line class='l1' x1='36' y1='85' x2='243' y2='325' />
<line class='l1' x1='36' y1='85' x2='16' y2='221' />
<line class='l1' x1='16' y1='221' x2='106' y2='325' />
<line class='l1' x1='106' y1='325' x2='243' y2='325' />
<line class='l1' x1='313' y1='264' x2='333' y2='128' />
<line class='l1' x1='313' y1='264' x2='198' y2='11' />
<line class='l1' x1='333' y1='128' x2='243' y2='24' />
<line class='l4' x1='151' y1='11' x2='66' y2='50' />
<line class='l4' x1='151' y1='11' x2='313' y2='264' />
<line class='l4' x1='16' y1='128' x2='16' y2='221' />
<line class='l4' x1='16' y1='221' x2='66' y2='299' />
<line class='l4' x1='16' y1='221' x2='243' y2='325' />
<line class='l4' x1='313' y1='264' x2='243' y2='24' />
<line class='l4' x1='313' y1='264' x2='340' y2='175' />
<line class='l5' x1='106' y1='325' x2='198' y2='338' />
<line class='l5' x1='36' y1='85' x2='283' y2='299' />
<line class='l5' x1='333' y1='128' x2='283' y2='50' />
<circle class='cbr' cx='340' cy='175' r='3'/>17
<circle class='cbb' cx='333' cy='221' r='3'/>16
<circle class='cbr' cx='313' cy='264' r='3'/>15
<circle class='cbb' cx='283' cy='299' r='3'/>14
<circle class='cbr' cx='243' cy='325' r='3'/>13
<circle class='cbb' cx='198' cy='338' r='3'/>12
<circle class='cbr' cx='151' cy='338' r='3'/>11
<circle class='cbb' cx='106' cy='325' r='3'/>10
<circle class='cbr' cx='66' cy='299' r='3'/>9
<circle class='cbb' cx='36' cy='264' r='3'/>8
<circle class='cbr' cx='16' cy='221' r='3'/>7
<circle class='cbb' cx='10' cy='175' r='3'/>6
<circle class='cbr' cx='16' cy='128' r='3'/>5
<circle class='cbb' cx='36' cy='85' r='3'/>4
<circle class='cbr' cx='66' cy='50' r='3'/>3
<circle class='cbb' cx='106' cy='24' r='3'/>2
<circle class='cbr' cx='151' cy='11' r='3'/>1
<circle class='cbb' cx='198' cy='11' r='3'/>22
<circle class='cbr' cx='243' cy='24' r='3'/>21
<circle class='cbb' cx='283' cy='50' r='3'/>20
<circle class='cbr' cx='313' cy='85' r='3'/>19
<circle class='cbb' cx='333' cy='128' r='3'/>18
<!-- the ternary tree with colored vertex labels -->
<line class='l2' x1='470' y1='20' x2='510' y2='60' />
<line class='l2' x1='470' y1='20' x2='470' y2='60' />
<line class='l2' x1='470' y1='20' x2='430' y2='60' />
<line class='l2' x1='470' y1='60' x2='430' y2='100' />
<line class='l2' x1='510' y1='60' x2='470' y2='100' />
<line class='l2' x1='510' y1='60' x2='510' y2='100' />
<line class='l2' x1='430' y1='100' x2='390' y2='140' />
<line class='l2' x1='430' y1='100' x2='430' y2='140' />
<line class='l2' x1='430' y1='100' x2='470' y2='140' />
<circle class='crw' cx='470' cy='20' r='12'/>
<circle class='crw' cx='430' cy='60' r='12'/>
<circle class='cbw' cx='470' cy='60' r='12'/>
<circle class='crw' cx='510' cy='60' r='12'/>
<circle class='crw' cx='430' cy='100' r='12'/>
<circle class='crw' cx='470' cy='100' r='12'/>
<circle class='cbw' cx='510' cy='100' r='12'/>
<circle class='crw' cx='390' cy='140' r='12'/>
<circle class='crw' cx='430' cy='140' r='12'/>
<circle class='cbw' cx='470' cy='140' r='12'/>
<text class='tr' x='470' y='20' alignment-baseline='middle' text-anchor='middle'>2</text>
<text class='tr' x='430' y='60' alignment-baseline='middle' text-anchor='middle'>1</text>
<text class='tb' x='470' y='60' alignment-baseline='middle' text-anchor='middle'>7</text>
<text class='tr' x='510' y='60' alignment-baseline='middle' text-anchor='middle'>9</text>
<text class='tr' x='430' y='100' alignment-baseline='middle' text-anchor='middle'>4</text>
<text class='tr' x='470' y='100' alignment-baseline='middle' text-anchor='middle'>8</text>
<text class='tb' x='510' y='100' alignment-baseline='middle' text-anchor='middle'>10</text>
<text class='tr' x='390' y='140' alignment-baseline='middle' text-anchor='middle'>3</text>
<text class='tr' x='430' y='140' alignment-baseline='middle' text-anchor='middle'>5</text>
<text class='tb' x='470' y='140' alignment-baseline='middle' text-anchor='middle'>6</text>
</svg>

<p>
For odd $N$, the tree is restricted in that the largest vertex has to appear on the right branch starting from the root and its color never changes (it is always blue, corresponding to two consecutive blue points of the $N$-gon).
For generating all colorful triangulations, the algorithm essentially combines the ternary tree rotation Gray code discussed before with the <a href="brgc">binary reflected Gray code</a> for generating all bitstrings.
This has to be done with some care to ensure that flips of colorful edges (=tree rotations) are 'compatible' with the flips of the monochromatic edges (=bitflips).

<p>
<a href="btree">Pattern-avoiding binary trees</a> and algorithms for their generation are discussed in that section.