<ul id="refs">
<li>[AMV24] R. Acharya, T. M&uuml;tze, and F. Verciani. Flips in colorful triangulations. arXiv:2406.03783, June 2024</li>
<li>[HHP08] C. Huemer, F. Hurtado, and J. Pfeifle. The rotation graph of k-ary trees is Hamiltonian. Inform. Process. Lett., 109(2):124–129, 2008.</li>
<li>[LRvBR93] J. M. Lucas, D. Roelants van Baronaigien, and F. Ruskey. On rotations and the generation of binary trees. J. Algorithms, 15(3):343–366, 1993.</li>
<li>[Sag08] B. E. Sagan. Proper partitions of a polygon and k-Catalan numbers. Ars Combin., 88:109–124, 2008.</li>
<li>[Wil13] A. Williams. The greedy Gray code algorithm. In Algorithms and data structures, volume 8037 of Lecture Notes in Comput. Sci., pages 525–536. Springer, Heidelberg, 2013.</li>
</ul>