<ul id="refs">
<li>[BER76] J. R. Bitner, G. Ehrlich, and E. M. Reingold. Efficient generation of the binary reflected Gray code and its applications. Comm. ACM, 19(9):517–521, 1976.
</li>
<li>[Cha89] P. J. Chase. Combination generation and graylex ordering. Congr. Numer., 69:215–242, 1989. Eighteenth Manitoba Conference on Numerical Mathematics and Computing (Winnipeg, MB, 1988).
</li>
<li>[EM84] P. Eades and B. McKay. An algorithm for generating subsets of fixed size with a strong minimal change property. Inform. Process. Lett., 19(3):131–133, 1984.
</li>
<li>[Knu11] D. E. Knuth. The Art of Computer Programming. Vol. 4A. Combinatorial Algorithms. Part 1. Addison-Wesley, Upper Saddle River, NJ, 2011.
</li>
<li>[PI79] W. H. Payne and F. M. Ives. Combination generators. ACM Trans. Math. Softw., 5(2):163–172, 1979.
</li>
<li>[RW05] F. Ruskey and A. Williams. Generating combinations by prefix shifts. In Computing and combinatorics, volume 3595 of Lecture Notes in Comput. Sci., pages 570–576. Springer, Berlin, 2005.
</li>
<li>[TL73] D. Tang and C. Liu. Distance-2 cyclic chaining of constant-weight codes. IEEE Trans. Computers, C-22:176–180, 1973.
</li>
</ul>