<ul id="refs">
<li>[dB46] N. G. de Bruijn. A combinatorial problem. Nederl. Akad. Wetensch., Proc., 49:758–
764 = Indagationes Math. 8, 461–467 (1946), 1946.</li>
<li>[GSWW18] D. Gabric, J. Sawada, A. Williams, and D. Wong. A framework for constructing de
Bruijn sequences via simple successor rules. Discrete Math., 341(11):2977–2987, 2018.
</li>
</ul>