<TITLE>
Dichotomizing Pairs <I>n</I> = 31,...,40
</TITLE>

<H1>Dichotomizing Pairs n = 31,...,40</H1>

<PRE>
n = 31 (may not be complete)
[ 1] P,Q = {1},   {2,3,4,8,16}
[ 2] P,Q = {1,2,4,8},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31}
[ 3] P,Q = {1,2,4,8,17},   {16}
[ 4] P,Q = {1,2,4,8,18},   {16,17}
[ 5] P,Q = {1,2,4,8,19},   {16,17,18}
[ 6] P,Q = {1,2,4,8,20},   {16,17,18,19}
[ 7] P,Q = {1,2,4,8,21},   {16,17,18,19,20}
[ 8] P,Q = {1,2,4,8,22},   {16,17,18,19,20,21}
[ 9] P,Q = {1,2,4,8,23},   {16,17,18,19,20,21,22}
[10] P,Q = {1,2,4,8,24},   {16,17,18,19,20,21,22,23}
[11] P,Q = {1,2,4,8,25},   {16,17,18,19,20,21,22,23,24}
[12] P,Q = {1,2,4,8,26},   {16,17,18,19,20,21,22,23,24,25}
[13] P,Q = {1,2,4,8,27},   {16,17,18,19,20,21,22,23,24,25,26}
[14] P,Q = {1,2,4,8,28},   {16,17,18,19,20,21,22,23,24,25,26,27}
[15] P,Q = {1,2,4,8,29},   {16,17,18,19,20,21,22,23,24,25,26,27,28}
[16] P,Q = {1,2,4,8,30},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29}
[17] P,Q = {1,2,4,8,31},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30}
[18] P,Q = {1,2,4,9},   {8,17,18,19,20,21,22,23,24}
[19] P,Q = {1,2,4,9,17},   {8,25}              

n = 32
[ 1] P,Q = {1},   {2,3,4,8,16,32}
[ 2] P,Q = {1,2,4,8},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32}
[ 3] P,Q = {1,2,4,8,16},   {32}
[ 4] P,Q = {1,2,4,8,17},   {16}
[ 5] P,Q = {1,2,4,8,18},   {16,17}
[ 6] P,Q = {1,2,4,8,19},   {16,17,18}
[ 7] P,Q = {1,2,4,8,20},   {16,17,18,19}
[ 8] P,Q = {1,2,4,8,21},   {16,17,18,19,20}
[ 9] P,Q = {1,2,4,8,22},   {16,17,18,19,20,21}
[10] P,Q = {1,2,4,8,23},   {16,17,18,19,20,21,22}
[11] P,Q = {1,2,4,8,24},   {16,17,18,19,20,21,22,23}
[12] P,Q = {1,2,4,8,25},   {16,17,18,19,20,21,22,23,24}
[13] P,Q = {1,2,4,8,26},   {16,17,18,19,20,21,22,23,24,25}
[14] P,Q = {1,2,4,8,27},   {16,17,18,19,20,21,22,23,24,25,26}
[15] P,Q = {1,2,4,8,28},   {16,17,18,19,20,21,22,23,24,25,26,27}
[16] P,Q = {1,2,4,8,29},   {16,17,18,19,20,21,22,23,24,25,26,27,28}
[17] P,Q = {1,2,4,8,30},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29}
[18] P,Q = {1,2,4,8,31},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30}
[19] P,Q = {1,2,4,8,32},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31}
[20] P,Q = {1,2,4,9},   {8,17,18,19,20,21,22,23,24}
[21] P,Q = {1,2,4,9,17},   {8,25}
[22] P,Q = {1,32},   {2,3,4,8,16}   

n = 33 
[ 1] P,Q = {1},   {2,3,4,8,16,32}
[ 2] P,Q = {1,2,4,8},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32}
[ 3] P,Q = {1,2,4,8,16},   {32,33}
[ 4] P,Q = {1,2,4,8,16,33},   {32}
[ 5] P,Q = {1,2,4,8,17},   {16,33}
[ 6] P,Q = {1,2,4,8,17,33},   {16}
[ 7] P,Q = {1,2,4,9},   {8,17,18,19,20,21,22,23,24,33}
[ 8] P,Q = {1,2,4,9,33},   {8,17,18,19,20,21,22,23,24}                

n = 34 (may not be complete)
[ 1] P,Q = {1},   {2,3,4,8,16,32}
[ 2] P,Q = {1,2,4,8},   {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32}
[ 3] P,Q = {1,2,4,8,16},   {32,33,34}
[ 4] P,Q = {1,2,4,8,16,33},   {32}
[ 5] P,Q = {1,2,4,8,16,34},   {32,33}
[ 6] P,Q = {1,2,4,8,17},   {16,33,34}
[ 7] P,Q = {1,2,4,8,17,33},   {16}
[ 8] P,Q = {1,2,4,8,17,34},   {16,33}
[ 9] P,Q = {1,2,4,9},   {8,17,18,19,20,21,22,23,24,33,34}
[10] P,Q = {1,2,4,9,33},   {8,17,18,19,20,21,22,23,24}
[11] P,Q = {1,2,4,9,34},   {8,17,18,19,20,21,22,23,24,33}       

n = 35 (may not be complete)

n = 36 (may not be complete)
[ 1] P,Q = {1},   {2,3,4,8,16,32}
[ 2] P,Q = {1,2,4,8,16},   {32,33,34,35,36}
[ 3] P,Q = {1,2,4,8,16,33},   {32}
[ 4] P,Q = {1,2,4,8,16,34},   {32,33}
[ 5] P,Q = {1,2,4,8,16,35},   {32,33,34}
[ 6] P,Q = {1,2,4,8,16,36},   {32,33,34,35}
[ 7] P,Q = {1,2,4,8,17},   {16,33,34,35,36}
[ 8] P,Q = {1,2,4,8,17,33},   {16}
[ 9] P,Q = {1,2,4,8,17,34},   {16,33}
[10] P,Q = {1,2,4,8,17,35},   {16,33,34}
[11] P,Q = {1,2,4,8,17,36},   {16,33,34,35}
[12] P,Q = {1,2,4,9},   {8,17,18,19,20,21,22,23,24,33,34}     

n = 37

n = 38

n = 39

n = 40 (may not be complete)
[ 1] P,Q = {1},   {2,3,4,8,16,32}
[ 2] P,Q = {1,2,4,8,16},   {32,33,34,35,36,37,38,39,40}
[ 3] P,Q = {1,2,4,8,16,33},   {32}
[ 4] P,Q = {1,2,4,8,16,34},   {32,33}
[ 5] P,Q = {1,2,4,8,16,35},   {32,33,34}
[ 6] P,Q = {1,2,4,8,16,36},   {32,33,34,35}
[ 7] P,Q = {1,2,4,8,16,37},   {32,33,34,35,36}
[ 8] P,Q = {1,2,4,8,16,38},   {32,33,34,35,36,37}
[ 9] P,Q = {1,2,4,8,16,39},   {32,33,34,35,36,37,38}
[10] P,Q = {1,2,4,8,16,40},   {32,33,34,35,36,37,38,39}
[11] P,Q = {1,2,4,8,17},   {16,33,34,35,36,37,38,39,40}
[12] P,Q = {1,2,4,8,17,33},   {16}
[13] P,Q = {1,2,4,8,17,34},   {16,33}
[14] P,Q = {1,2,4,8,17,35},   {16,33,34}
[15] P,Q = {1,2,4,8,17,36},   {16,33,34,35}
[16] P,Q = {1,2,4,8,17,37},   {16,33,34,35,36}
[17] P,Q = {1,2,4,8,17,38},   {16,33,34,35,36,37}
[18] P,Q = {1,2,4,8,17,39},   {16,33,34,35,36,37,38}
[19] P,Q = {1,2,4,8,17,40},   {16,33,34,35,36,37,38,39}     
</PRE>

