<h1>Lyndon words over $GF(k)$ with given trace</h1>

Here we consider the number $L(n;t)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(k)$ that have trace $t$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits over the field $GF(k)$, i.e., $t = a_1 +a_2 + \cdots + a_n$.

Below we use $a=\operatorname{root}(x^2+x+1)$ and $b=1+a$.

<p>
<table class="data">
<tr>
<td>
<td align="center" colspan="8">(trace)</td> 
<tr>
<td> 
<td colspan="2" align="center" style="border-right: 2px solid black;">binary 
<td colspan="2" align="center" style="border-right: 2px solid black;">ternary 
<td colspan="2" align="center" style="border-right: 2px solid black;">4-ary 
<td colspan="2" align="center">5-ary 
<tr>
<td align="center">$n$
<td class="special" align="center">0<td class="special" align="center">1
<td class="special" align="center">0<td class="special" align="center">1,2
<td class="special" align="center">0<td class="special" align="center">1,$a$,$b$
<td class="special" align="center">0<td class="special" align="center">1,2,3,4
<tr>
<td class="special" align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>

<tr>
<td class="special" align="right">2</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">2</td>
<td align="right">2</td>

<tr>
<td class="special" align="right">3</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">3</td>
<td align="right">5</td>
<td align="right">5</td>
<td align="right">8</td>
<td align="right">8</td>

<tr>
<td class="special" align="right">4</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">6</td>
<td align="right">6</td>
<td align="right">12</td>
<td align="right">16</td>
<td align="right">30</td>
<td align="right">30</td>

<tr>
<td class="special" align="right">5</td>
<td align="right">3</td>
<td align="right">3</td>
<td align="right">16</td>
<td align="right">16</td>
<td align="right">51</td>
<td align="right">51</td>
<td align="right">124</td>
<td align="right">125</td>

<tr>
<td class="special" align="right">6</td>
<td align="right">4</td>
<td align="right">5</td>
<td align="right">38</td>
<td align="right">39</td>
<td align="right">160</td>
<td align="right">170</td>
<td align="right">516</td>
<td align="right">516</td>

<tr>
<td class="special" align="right">7</td>
<td align="right">9</td>
<td align="right">9</td>
<td align="right">104</td>
<td align="right">104</td>
<td align="right">585</td>
<td align="right">585</td>
<td align="right">2232</td>
<td align="right">2232</td>

<tr>
<td class="special" align="right">8</td>
<td align="right">14</td>
<td align="right">16</td>
<td align="right">270</td>
<td align="right">270</td>
<td align="right">2016</td>
<td align="right">2048</td>
<td align="right">9750</td>
<td align="right">9750</td>

<tr>
<td class="special" align="right">9</td>
<td align="right">28</td>
<td align="right">28</td>
<td align="right">726</td>
<td align="right">729</td>
<td align="right">7280</td>
<td align="right">7280</td>
<td align="right">43400</td>
<td align="right">43400</td>

<tr>
<td class="special" align="right">10</td>
<td align="right">48</td>
<td align="right">51</td>
<td align="right">1960</td>
<td align="right">1960</td>
<td align="right">26112</td>
<td align="right">26214</td>
<td align="right">195248</td>
<td align="right">195250</td>

<tr>
<td class="special" align="right">11</td>
<td align="right">93</td>
<td align="right">93</td>
<td align="right">5368</td>
<td align="right">5368</td>
<td align="right">95325</td>
<td align="right">95325</td>
<td align="right">887784</td>
<td align="right">887784</td>

<tr>
<td class="special" align="right">12</td>
<td align="right">165</td>
<td align="right">170</td>
<td align="right">14736</td>
<td align="right">14742</td>
<td align="right">349180</td>
<td align="right">349520</td>
<td align="right">4068740</td>
<td align="right">4068740</td>

<tr>
<td class="special" align="right">13</td>
<td align="right">315</td>
<td align="right">315</td>
<td align="right">40880</td>
<td align="right">40880</td>
<td align="right">1290555</td>
<td align="right">1290555</td>
<td align="right">18780048</td>
<td align="right">18780048</td>

<tr>
<td class="special" align="right">14</td>
<td align="right">576</td>
<td align="right">585</td>
<td align="right">113828</td>
<td align="right">113828</td>
<td align="right">4792320</td>
<td align="right">4793490</td>
<td align="right">87191964</td>
<td align="right">87191964</td>

<tr>
<td class="special" align="right">15</td>
<td align="right">1091</td>
<td align="right">1091</td>
<td align="right">318848</td>
<td align="right">318864</td>
<td align="right">17895679</td>
<td align="right">17895679</td>

<tr>
<td class="special" align="right">16</td>
<td align="right">2032</td>
<td align="right">2048</td>
<td align="right">896670</td>
<td align="right">896670</td>
</table>

<h2>Examples</h2>

The two ternary Lyndon words of trace 0 and length 3 are $\{021, 012\}$.
The five 4-ary Lyndon words of trace $b$ and length 3 are $\{00b, 01a, 0a1, 11b, aab\}$.
The two binary Lyndon words of trace 1 and length 4 are $\{0001, 0111\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
The binary trace 0 column is <a href="http://oeis.org/A051841">OEIS A051841</a>.
<li>
The binary trace 1 column is <a href="http://oeis.org/A000048">OEIS A000048</a>.
<li>
The ternary trace=0 column is <a href="http://oeis.org/A046209">OEIS A046209</a>.
<li>
The ternary trace=1,2 column is <a href="http://oeis.org/A046211">OEIS A046211</a>.
<li>
The 4-ary trace=0 column is <a href="http://oeis.org/A054661">OEIS A054661</a>.
<li>
The 4-ary trace=1,$a$,$b$ column is <a href="http://oeis.org/A054660">OEIS A054660</a>.
<li>
The 5-ary trace=0 column is <a href="http://oeis.org/A054663">OEIS A054663</a>.
<li>
The 5-ary trace=1,2,3,4 column is <a href="http://oeis.org/A054662">OEIS A054662</a>.
</ul>