<h1>Lyndon words over $GF(5)$ with given trace and subtrace</h1>

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(5)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.
Note that $GF(5)=\mathbb{Z}_5$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="13">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,4)
<td class="special" align="center">(0,2)<br>(0,3)
<td class="special" align="center">(1,0)<br>(2,0)<br>(3,0)<br>(4,0)
<td class="special" align="center">(1,1)<br>(2,4)<br>(3,4)<br>(4,1)
<td class="special" align="center">(1,2)<br>(2,3)<br>(3,3)<br>(4,2)
<td class="special" align="center">(1,3)<br>(2,2)<br>(3,2)<br>(4,3)
<td class="special" align="center">(1,4)<br>(2,1)<br>(3,1)<br>(4,4)

<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1
<td align="right">0<td align="right">0<td align="right">0
<td align="right">0  
<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">1<td align="right">0
<td align="right">1
<td align="right">0<td align="right">0<td align="right">1
<td align="right">0  
<tr><th align="center" class="special">3</th>
<td align="right">0<td align="right">2<td align="right">2
<td align="right">2
<td align="right">2<td align="right">0<td align="right">2
<td align="right">2 
<tr><th align="center" class="special">4</th>
<td align="right">6<td align="right">5<td align="right">7
<td align="right">5
<td align="right">6<td align="right">5<td align="right">7
<td align="right">7 
<tr><th align="center" class="special">5</th>
<td align="right">24<td align="right">20<td align="right">30
<td align="right">25
<td align="right">25<td align="right">25<td align="right">25
<td align="right">25 
<tr><th align="center" class="special">6</th>
<td align="right">104<td align="right">99<td align="right">107
<td align="right">104
<td align="right">99<td align="right">107<td align="right">107
<td align="right">99  
<tr><th align="center" class="special">7</th>
<td align="right">432<td align="right">450<td align="right">450
<td align="right">450
<td align="right">450<td align="right">450<td align="right">450
<td align="right">432 
<tr><th align="center" class="special">8</th>
<td align="right">1950<td align="right">1965<td align="right">1935
<td align="right">1935
<td align="right">1965<td align="right">1950<td align="right">1965
<td align="right">1935 
<tr><th align="center" class="special">9</th>
<td align="right">8736<td align="right">8666<td align="right">8666
<td align="right">8666
<td align="right">8736<td align="right">8666<td align="right">8666
<td align="right">8666  
<tr><th align="center" class="special">10</th>
<td align="right">39298<td align="right">38985<td align="right">38990
<td align="right">39050
<td align="right">39050<td align="right">39050<td align="right">39050
<td align="right">39050 
<tr><th align="center" class="special">11</th>
<td align="right">177784<td align="right">177500<td align="right">177500
<td align="right">177784
<td align="right">177500<td align="right">177500<td align="right">177500
<td align="right">177500  
<tr><th align="center" class="special">12</th>
<td align="right">813748<td align="right">814006<td align="right">813490
<td align="right">814006
<td align="right">813490<td align="right">813490<td align="right">814006
<td align="right">813748 
<tr><th align="center" class="special">13</th>
<td align="right">3755048<td align="right">3756250<td align="right">3756250
<td align="right">3756250
<td align="right">3756250<td align="right">3755048<td align="right">3756250
<td align="right">3756250 
<tr><th align="center" class="special">14</th>
<td align="right">17438400<td align="right">17437275<td align="right">17439507
<td align="right">17437275
<td align="right">17438400<td align="right">17437275<td align="right">17439507
<td align="right">17439507  
<tr><th align="center" class="special">15</th>
<td align="right">81380192<td align="right">81374990<td align="right">81385410
<td align="right">81380200
<td align="right">81380200<td align="right">81380200<td align="right">81380200
<td align="right">81380200  
</table>

<h2>Examples</h2>

The two 5-ary Lyndon words of trace 2, subtrace 4 and length 3 are $\{124, 142\}$.
The five 5-ary Lyndon words of trace 1, subtrace 2 and length 4 are $\{0222, 1113, 1244, 1424, 1442\}$.
The seven 5-ary Lyndon words of trace 3, subtrace 1 and length 4 are $\{0044, 0233, 0323, 0332, 1124, 1142, 1214\}$.

<h2>Enumeration (OEIS)</h2>

<ul class="enum">
<li>
Column (0,0) is <a href="http://oeis.org/A074414">OEIS A074414</a>.
<li>
Column (0,1),(0,4) is <a href="http://oeis.org/A074415">OEIS A074415</a>.
<li>
Column (0,2),(0,3) is <a href="http://oeis.org/A074416">OEIS A074416</a>.
<li>
Column (1,0),(2,0),(3,0),(4,0) is <a href="http://oeis.org/A074417">OEIS A074417</a>.
<li>
Column (1,1),(2,4),(3,4),(4,1) is <a href="http://oeis.org/A074418">OEIS A074418</a>.
<li>
Column (1,2),(2,3),(3,3),(4,2) is <a href="http://oeis.org/A074419">OEIS A074419</a>.
<li>
Column (1,3),(2,2),(3,2),(4,3) is <a href="http://oeis.org/A074420">OEIS A074420</a>.
<li>
Column (1,4),(2,1),(3,1),(4,4) is <a href="http://oeis.org/A074421">OEIS A074421</a>.
</ul>