<h1>Generate graphs</h1>

Generate all unlabelled simple graphs on a given number of vertices with various additional properties.
This is a website interface to the program <span class="def">geng</span>, which is part of <span class="def">nauty</span>, written by Brendan McKay.
The default output of nauty is the graph6 format, but on this website a number of more human-readable graph representations is also available.