For integers $k\geq 1$ and $n\geq 2k+1$, the <span class="def">Kneser graph $K(n,k)$</span> has as vertices all $k$-element subsets of $[n]:=\{1,2,\ldots,n\}$, and an edge between any two disjoint sets.
The <span class="def">Schrijver graph $S(n,k)$</span> is an induced subgraph of $K(n,k)$, given by all sets in which no two elements are cyclically adjacent.
More generally, for integers $k\geq 1$, $s\geq 1$ and $n\geq \max\{2,s\}k+1$, the <span class="def">$s$-stable Kneser graph $S(n,k,s)$</span> is an induced subgraph of $K(n,k)$, given by all sets in which any two elements have cyclical distance at least $s$.
Note that the Kneser graph is precisely the $1$-stable Kneser graph, i.e., $K(n,k)=S(n,k,1)$.
Furthermore, the Schrijver graph is precisely the $2$-stable Kneser graph, i.e., $S(n,k)=S(n,k,2)$.
The figure below shows the Petersen graph $K(5,2)$, and the red subgraph is the Schrijver graph $S(5,2)$, with vertices represented by their characteristic vectors.

<p>
<style>.r{stroke:black;stroke-width:1} .lb{stroke:black; stroke-width:2;} .lr{stroke:red; stroke-width:2;}</style>
<svg width='370' height='340' viewBox='-170 -170 370 340' >
<rect x="-225" y="-225" width="450" height="450" fill="white"/>
<!-- outer wheel -->
<line class="lr" x1="160" y1="0" x2="49" y2="-152"/>
<line class="lr" x1="49" y1="-152" x2="-129" y2="-94"/>
<line class="lr" x1="-129" y1="-94" x2="-129" y2="94"/>
<line class="lr" x1="-129" y1="94" x2="49" y2="152"/>
<line class="lr" x1="49" y1="152" x2="160" y2="0"/>
<!-- inner wheel -->
<line class="lb" x1="80" y1="0" x2="-64" y2="-47"/>
<line class="lb" x1="80" y1="0" x2="-64" y2="47"/>
<line class="lb" x1="24" y1="-76" x2="-64" y2="47"/>
<line class="lb" x1="24" y1="-76" x2="24" y2="76"/>
<line class="lb" x1="-64" y1="-47" x2="24" y2="76"/>
<!-- spokes -->
<line class="lb" x1="160" y1="0" x2="80" y2="0"/>
<line class="lb" x1="49" y1="-152" x2="24" y2="-76"/>
<line class="lb" x1="-129" y1="-94" x2="-64" y2="-47"/>
<line class="lb" x1="-129" y1="94" x2="-64" y2="47"/>
<line class="lb" x1="49" y1="152" x2="24" y2="76"/>
<!-- outer vertices in CCW order -->
<g transform="translate(-30,-6)">
<rect class='lr' x='159' y='-1' width='62' height='14' style='fill:none'/>
<rect class='lr' x='48' y='-152' width='62' height='14' style='fill:none'/>
<rect class='lr' x='-129' y='-94' width='62' height='14' style='fill:none'/>
<rect class='lr' x='-129' y='94' width='62' height='14' style='fill:none'/>
<rect class='lr' x='49' y='152' width='62' height='14' style='fill:none'/>
<g transform="translate(160,0)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:dimgray'/></svg>
</g>
<g transform="translate(49,-152)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<g transform="translate(-129,-94)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:dimgray'/></svg>
</g>
<g transform="translate(-129,94)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<g transform="translate(49,152)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<!-- inner vertices in CCW order -->
<g transform="translate(80,0)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<g transform="translate(24,-76)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<g transform="translate(-64,-47)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:white'/></svg>
</g>
<g transform="translate(-64,47)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:dimgray'/></svg>
</g>
<g transform="translate(24,76)">
<svg width='61' height='13' viewBox='-0.5 -0.5 61 13'><rect class='r' x='0' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='12' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='24' y='0' width='12' height='12' style='fill:white'/><rect class='r' x='36' y='0' width='12' height='12' style='fill:dimgray'/><rect class='r' x='48' y='0' width='12' height='12' style='fill:dimgray'/></svg>
</g>
</g>
</svg>
  
<p>
Schrijver graphs $S(n,k)$ were first investigated by Schrijver [Sch78], and he proved that they have the same chromatic number as the Kneser graph $K(n,k)$, namely $n-2k+2$.
Furthermore, $S(n,k)$ is a vertex-critical subgraph of $K(n,k)$, i.e., removing any of its vertices creates a graph with strictly smaller chromatic number.

<p>
The algorithm running on this website generates a Hamilton cycle in $S(n,k,s)$ for arbitrary integers $k\geq 1$, $s\geq 2$ and $n\geq sk+1$, as described in the paper [MN24].
In the output, each set is represented by its corresponding characteristic vector.
So far, no efficient algorithm is known for the case $s=1$, i.e., for Kneser graphs, even though they were shown to admit a Hamilton cycle for all $k\geq 1$ and $n\geq 2k+1$ [MMN23], with one notable exception, namely the Petersen graph $K(5,2)$ shown above.