<ul id="refs">
<li>[MMN23] A. Merino, T. M&uuml;tze, and Namrata. Kneser graphs are Hamiltonian. In STOC'23—Proceedings of the 55th Annual Symposium on Theory of Computing, pages 963–970. ACM, New York, 2023.
</li>
<li>
[MN24] T. M&uuml;tze and Namrata. Hamiltonicity of Schrijver graphs and s-stable Kneser graphs. arXiv:2401.01681, Jan 2024.
</li>
<li>[Sch78] A. Schrijver. Vertex-critical subgraphs of Kneser graphs. Nieuw Arch. Wisk. (3), 26(3):454–461, 1978.
</li>
</ul>