<table id="input">
<tr>
<td>Size $n$ of ground set</td>
<td><input type="text" id="n" value="10" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr>
<td>Size $k$ of subsets</td>
<td><input type="text" id="k" value="3" size="2" maxlength="2"/> (between 1 and $n$)</td>
</tr>
<tr>
<td>Distance $s$ of elements</td>
<td><input type="text" id="s" value="2" size="2" maxlength="2"/> (at least 2)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
 	          + "&n=" + document.getElementById("n").value
            + "&k=" + document.getElementById("k").value
            + "&s=" + document.getElementById("s").value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
