The number of symmetric semi-meanders is exactly half the number of semi-meanders, but apart from this, there are no other trivial relations between those six sequences.

<p>
Links to the objects in the Online Encyclopedia of Integer Sequences: 
<ul class="enum">
<li>Open meanders: <a href="http://oeis.org/A005316">OEIS A005316</a></li>
<li>Semi-meanders: <a href="http://oeis.org/A000682">OEIS A000682</a></li>
<li>Stamp foldings: <a href="http://oeis.org/A000136">OEIS A000136</a></li>
<li>Symmetric meanders: <a href="http://oeis.org/A077055">OEIS A077055</a></li>
<li>Symmetric semi-meanders: <a href="http://oeis.org/A000560">OEIS A000560</a></li>
<li>Unlabeled stamp foldings: <a href="http://oeis.org/A001011">OEIS A001011</a></li>
</ul>