By avoiding certain tree patterns, we obtain classes of binary trees that are in bijection with a variety of other combinatorial objects, some of them classical.
The corresponding OEIS sequences are listed below.

<ul class="enum">
<li>none: <a href="http://oeis.org/A000108">OEIS A000108</a> (Catalan numbers)</li>
<li>123,01 / 132,11 / 213,11: <a href="http://oeis.org/A000079">OEIS A000079</a> (powers of 2)</li>
<li>123,11: <a href="http://oeis.org/A001006">OEIS A001006</a> (Motzkin numbers)</li>
<li>1234,001 / 1243,011 / 1324,011 / 1423,011 / 1432,101 / 2134,101 / 2143,101: <a href="http://oeis.org/A001519">OEIS A001519</a></li>
<li>1234,011 / 1432,111: <a href="http://oeis.org/A005773">OEIS A005773</a></li>
<li>1234,101 / 1243,111 / 1324,111 / 1423,111 / 2134,111 / 2143,111: <a href="http://oeis.org/A025242">OEIS A025242</a></li>
<li>12345,0001: <a href="http://oeis.org/A007051">OEIS A007051</a></li>
<li>12345,0011: <a href="http://oeis.org/A054391">OEIS A054391</a></li>
<li>12345,0111: <a href="http://oeis.org/A159772">OEIS A159772</a></li>
<li>12345,1001: <a href="http://oeis.org/A176677">OEIS A176677</a></li>
<li>12345,1101: <a href="http://oeis.org/A159768">OEIS A159768</a></li>
<li>12345,1111: <a href="http://oeis.org/A036766">OEIS A036766</a></li>
<li>12534,1111: <a href="http://oeis.org/A159769">OEIS A159769</a></li>
<li>12543,1111: <a href="http://oeis.org/A159770">OEIS A159770</a></li>
<li>13254,1111: <a href="http://oeis.org/A159771">OEIS A159771</a></li>
<li>21354,1111: <a href="http://oeis.org/A159773">OEIS A159773</a></li>
<li>12345,0101 / 12354,0111 / 12435,0111 / 12534, 0111 / 13245,0111 / 13254,0111 / 14235,0111 / 14325,0111 / 15243,0111 / 15324,0111 / 15423,0111 / 15423,1101 / 15432,1101: <a href="http://oeis.org/A365508">OEIS A365508</a></li>
<li>12345,1011 / 12543,1011: <a href="http://oeis.org/A365509">OEIS A365509</a></li>
<li>13245,1101 / 13254,1101 / 15234,1101 / 15243,1101 / 21345,1101 / 21354,1101: <a href="http://oeis.org/A365510">OEIS A365510</a></li>
<ul>