<ul id="refs">
<li>[DPTW12] M. Dairyko, L. Pudwell, S. Tyner, and C. Wynn. Non-contiguous pattern avoidance in binary trees. Electron. J. Combin., 19(3):Paper 22, 21 pp., 2012.</li>
<li>[GMN23] P. Gregor, T. M&uuml;tze, and Namrata. Combinatorial generation via permutation languages. VI. Binary trees. arXiv:2306.08420, Jun 2023.</li>
<li>[LRvBR93] J. M. Lucas, D. Roelants van Baronaigien, and F. Ruskey. On rotations and the generation of binary trees. J. Algorithms, 15(3):343–366, 1993.</li>
<li>[Row10] E. S. Rowland. Pattern avoidance in binary trees. J. Combin. Theory Ser. A, 117(6):741–758, 2010.</li>
<li>[Wil13] A. Williams. The greedy Gray code algorithm. In Algorithms and data structures, volume 8037 of Lecture Notes in Comput. Sci., pages 525–536. Springer, Heidelberg, 2013.<li>
</ul>