<table id="input">
<tr>
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="5" size="3" maxlength="3"/> (max. 20; max. 10 for non-friendly patterns)</td>
</tr>
<tr>
<td>Forbidden patterns</td>
<td><textarea id="p" rows="4" cols="40" maxlength="500"></textarea></td>
</tr>
<tr>
<td>Predefined inputs</td>
<td>
<select id="ps" autocomplete="off" onchange="pchange()">
  <option value="0" selected>&ndash;none&ndash;</option>
  <option value="1">132,11</option>
  <option value="2">213,11</option>
  <option value="3">123,11</option>
  <option value="4">1234,001</option>
  <option value="5">1432,111</option>
  <option value="6">21543,1011</option>
  <option value="7">21435,1111</option>
  <option value="8">15243,0101</option>
  <option value="9">2134,000; 2143,111</option>
  <option value="10">2134,000; 15234,1010</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
<td></td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
<td></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function pchange()
{
  var selp = document.getElementById("ps");
  var inpp = document.getElementById("p");
  switch(selp.options[selp.selectedIndex].value) {
    case "0": inpp.value = ""; break;
    case "1": inpp.value = "132,11"; break;
    case "2": inpp.value = "213,11"; break;
    case "3": inpp.value = "123,11"; break;
    case "4": inpp.value = "1234,001"; break;
    case "5": inpp.value = "1432,111"; break;
    case "6": inpp.value = "21543,1011"; break;
    case "7": inpp.value = "21435,1111"; break;
    case "8": inpp.value = "15243,0101"; break;
    case "9": inpp.value = "2134,000; 2143,111"; break;
    case "10": inpp.value = "2134,000; 15234,1010"; break;
  }
}  
  
function run()
{
  enlarge_output();
  output_buttons();
  var selfmt = document.getElementById("fmt");  
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&n=" + document.getElementById("n").value  
            + "&p=" + encodeURIComponent(document.getElementById("p").value + " ")  // add whitespace so that the pattern string is nonempty
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> pchange(); </script>