The number of permutations of an $n$-element set with $c$ colors is $c^nn!$.
<ul class="enum">
<li>$c=1$: <a href="http://oeis.org/A000142">OEIS A000142</a></li>
<li>$c=2$: <a href="http://oeis.org/A000165">OEIS A000165</a></li>
<li>$c=3$: <a href="http://oeis.org/A032031">OEIS A032031</a></li>
<li>$c=4$: <a href="http://oeis.org/A047053">OEIS A047053</a></li>
</ul>