<table id="input">

<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off">
<option value="0" selected>greedy min-flip</option>
<option value="1">greedy max-flip</option>
</select>
</td>
</tr>
<tr>
<td>Size $n$ of ground set</td>
<td><input type="text" id="n" value="4" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr>
<td>Number $c$ of colors</td>
<td><input type="text" id="c" value="2" size="2" maxlength="1"/> (max. 9)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
<option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
<option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
<option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");
  var selfmt = document.getElementById("fmt");
  var url = "gen.php?obj=<?php echo $object; ?>"
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&n=" + document.getElementById("n").value
            + "&c=" + document.getElementById("c").value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
