A positive integer <I>n</I> is <EM>prime</EM> if it has no non-trivial factors;
that is, no factors other than 1 and <I>n</I>.  
Two <A HREF="Number.html">numbers</A> <I>n</I> and <I>m</I> are 
  <EM>relatively prime</EM> if there is no number that divides both,
  other than 1.
This implies, for example, that 0 is relatively prime to 1, but to
  no other integer.

