<ul id="refs">
<li>[BGG+05] G. Brinkmann, S. Greenberg, C. Greenhill, B. D. McKay, R. Thomas, and P. Wollan. Generation of simple quadrangulations of the sphere. Discrete Math., 305(1-3):33–54, 2005.</li>
<li>[BM05] G. Brinkmann and B. D. McKay. Construction of planar triangulations with minimum degree 5. Discrete Math., 301(2-3):147–163, 2005.</li>
<li>[BM07] G. Brinkmann and B. D. McKay. Fast generation of planar graphs. MATCH Commun. Math. Comput. Chem., 58(2):323–357, 2007.</li>
</ul>