<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="t" autocomplete="off">
  <option value="0" selected>rooted plane trees</option>
  <option value="1">free plane trees</option>
</select>
</td>
</tr>
<tr>
<td>Number $n$ of vertices</td>
<td><input type="text" id="n" value="6" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var inpn = document.getElementById("n").value;
  var selfmt = document.getElementById("fmt");  
  var url = "gen.php?obj=<?php echo $object; ?>"
	    + "&n=" + document.getElementById("n").value
            + "&t=" + selt.options[selt.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
